$primary-color: #ffefe7;
$secondary-color: #ffdac6;
$tertiary-color: #babd8d;
$primary-text-color: #7c6a0a;
$font-stack: "IBM Plex Sans", sans-serif;

html {
  font-size: 62.5%;
}
body {
  padding: 0;
  margin: 0;
  background-color: $primary-color;
  font-family: $font-stack;
}

.navbar {
  width: auto;
  display: flex;
  justify-content: space-between;
  color: $primary-text-color;
  padding: 15px;

  p {
    font-size: 2.4rem;
    padding-left: 30px;
  }
  .navbar__icons {
    display: flex;
    gap: 15px;

    button {
      background: none;
      border-style: none;
    }
  }
}

.main-section {
}

.footer {
  $background: #fa9500;
  background-color: $background;
  width: 100%;
  height: 250px;
}
